
          <!--Burger menu -->
<div class="menu-container" id="mobile-menu">
  <div class="user-photo-name">
    <img
    src="/assets/img/header/stephen.png"
    alt="user"
    width="37"
    height="37"
    class="user-img"
  />
    <p class="user-name">Stephen</p>
  </div>
<div class="div-burger-nav">
  <nav>
    <ul class="burger-nav">
        <li class="burger-nav-item"><a href="./index.html" class="burger-link-active current">HOME</a></li>
        <li class="burger-nav-item"><a href="./shopping-list.html" class="burger-link"
            >SHOPPING LIST
            <svg class="site-nav-logo-burger"
            width="20" height="20">
              <use href="/assets/img/header/icons.svg#icon-uil_cart"></use>
            </svg> 
          </a></li>
    </ul>
  </nav>
</div>

<div class="burger-btn-log-out">
  <button type="button" class="button-log-out">
      Log out    
       <svg class="burger-log-out"
      width="20" 
      height="20">
        <use href="/assets/img/header/icons.svg#arrow-right"></use>
      </svg>
  </button>
</div>
</div>