
                        <!--Burger menu  -->
<div class="burger-menu is-hidden " data-menu>
  <div class="container-burger-top">
    <a href="./index.html" class="header-logo-link">
      <svg class="header-logo"
      width="24" height="24">
        <use href="./assets\img/header/icons.svg#icon-logo"></use>
      </svg>
     
    <svg class="header-logo-bookshelf"
    width="77" height="13.27">
      <use href="./assets\img/header/icons.svg#icon-Bookshelf"></use>
    </svg>
  </a>

  <div class="header-switcher">
    <label for="switcher-button" class="switcher">
      <input type="checkbox" id="switcher-button" class="switcher-button" />
    </label>
  </div>
      <button type="button" class="burger-close-btn" data-menu-close>
          <svg
              width="28px"
              height="28px">
              <use href="./assets/img/header/icons.svg#icon-x-close"></use>
          </svg>
      </button>
  </div>

    <div class="user-photo-name">
    <img
    src="./assets\img/header/stephen.png"
    alt="user"
    width="37"
    height="37"
    class="user-img"
  />
<p class="user-name">Stephen</p>
</div>

<div class="div-burger-nav">
    <ul class="burger-nav">
        <li class="burger-nav-item"><a href="./index.html" class="burger-link-active current">HOME</a></li>
        <li class="burger-nav-item"><a href="./shopping-list.html" class="burger-link"
            >SHOPPING LIST
            <svg class="site-nav-logo-burger"
            width="20" height="20">
              <use href="./assets\img/header/icons.svg#icon-uil_cart"></use>
            </svg> 
          </a></li>
    </ul>
</div>
<div class="burger-btn-background">
<button type="button" class="button-log-out">
    Log out    
     <svg class="burger-menu-icon"
    width="20" 
    height="20">
      <use href="./assets\img/header/icons.svg#arrow-right"></use>
    </svg>
</button>
    <img
    src="./assets\img/header/background-burger.png"
    alt="book image"
    class="background-burger"
 />
</div>
  </div>