<header class="header">

    <button
      class="sign-up-button"
      type="button"
      data-modal-open
      aria-label="sign in"
    >
      <span class="sign-up-button_text">Sign up</span>
      <svg class="sign-up-button_icon" width="20" height="20">
        <use href="./img/header/icons.svg#arrow-right"></use>
      </svg>
    </button>
    <button type="button" class="burger-menu">
      <svg class="burger-menu__icon">
        <use href="./img/"></use>
      </svg>
    </button>
  </div>
</header>
