<div class="shopping__container">
    <h2 class="shopping__title">
      Shopping <span class="shopping__title-span">List</span>
    </h2>
    <ul class="shopping__list">
    </ul>
    <div class="book-card">
      <button class="delete-button"></button>
        <div class="shopping-list-book-img">
        <img src="" alt="">
        </div> 
        
        <div class="inner-card">
          <h2 class="shopping-list-name-book">HELLO BEAUTIFUL</h2>
          <p class="shopping-list-book-categorie">Lorem</p>
          <p class="shopping-list-book-description">In a homage to Louisa May Alcotts “Little Women,” a young mans dark past...
          </p>
        
          <div class="shopping-list-book-card-footer">
            <p class="shopping-list-name-autor">Napolitano</p>
            <div class="sl-book-card-stores">
              <a href="#" class="sl-book-card-store"
              ><img
                src="../assets/img/modal-window/amazon.png"
                alt="amazon"
                class="sl-book-card-amazon"/>
            </a>
            <a href="#" class="sl-book-card-store"
              ><img src="../assets/img/modal-window/apple-books.png" alt="apple books"
              class="sl-book-card-apple-books"/>
            </a>
            <a href="#" class="sl-book-card-store">
              <img src="../assets/img/modal-window/book-shop.png" alt="book-shop"

              class="sl-book-card-book-shop"/></a>
            
            </div>
            
          </div>
        </div>
        </div>
      </div>
  </div>

