<div class="modal is-hidden">
  <div class="modal_container">
    <button class="modal_close" data-action="close-modal"></button>
    <div class="modal_window_information">
      <div class="modal_book_img">
        <img
          class="book_img"
          src="https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif"
          alt="book photo"
        />
      </div>
      <div class="modal_book_information">
        <h2 class="modal_name_book">HELLO BEAUTIFUL</h2>
        <p class="modal_name_author">Ann Napolitano</p>
        <p class="modal_book_about">
          In a homage to Louisa May Alcotts “Little Women,” a young mans dark past
          resurfaces as he gets to the know the family of his college sweetheart.
        </p>
        <div class="modal_window_bookShop">
          <a href="#" class="modal_window_icon"
            ><img
              src="../assets/img/modal-window/amazon.png"
              alt="amazon"
              width="62"
              height="19"
            />
          </a>
          <a href="#" class="modal_window_icon"
            ><img src="../assets/img/modal-window/apple-books.png" alt="apple books"
            width="32"
            height="32" />
          </a>
          <a href="#" class="modal_window_icon">
            <img src="../assets/img/modal-window/book-shop.png" alt="book-shop"
            width="38"
            height="36"
          /></a>
        </div>
       </div>
    </div>
    <button class="modal_btn_book_addShop">ADD TO SHOPPING LIST</button>
  </div>
</div>
