<div class="support-ukraine">
  <h2 class="head-title">
    Support Ukraine
    <svg class="icon-ua" width="20" height="32">
      <use href="../assets/img/support-ukraine/ua-swiper.svg#icon-ua"></use>
    </svg>
  </h2>

  <div class="swiper">
    <div class="swiper-wrapper support-list"></div>
  </div>

  <button type="button" class="button-next swiper-next" aria-label="Swipe next">
    <span class="icon-container">
      <svg class="icon-down" width="20" height="32">
        <use
          href="../assets/img/support-ukraine/ua-swiper.svg#icon-fi-rr-angle-small-left"
        ></use>
      </svg>
    </span>
  </button>
</div>
