:root {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;

    -moz-tab-size: 2;
    tab-size: 2;

    text-rendering: optimizeLegibility;
    
            /* Body color */
    --background-color-main: #f6f6f6;

            /* Main text color for nav, h1, name book, botton text "see more", 
            and modal window add the shopping list  */
    --text-color-main: #111;


            /* Header color */
    --header-background-color: #FFFFFF;
    --header-border-color: #111111;
    --header-logo-color: #000000;
    --header-icons-color: #111111;
    --header-icons-hover: #4F2EE8;
    --header-nav-hover: #EAC645;

            /* Hover for caregories  */
    --hover-categories: #4F2EE8;


            /* Color for name category and author book */
    --grey-title-color: #b4afaf;

            /* Color for button see more */
    --button-color-background: #f6f6f6;

            /* Modal "add the shopping list"  */
    --border-modal: #111111;
    --color-name-author: #B4AFAF;
    --text-color-main: #111;
            /* for text Congatulations */
    --text-modal-cong: rgba(17, 17, 17, 0.50); 



    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    /* // Font weight */
    --regular: 400;
    --medium: 500;
    --bold: 700;

    /* // Breakpoints */
    --mobile: 375px;
    --tablet: 768px;
    --desktop: 1280px;
    --desktop-wide: 1440px;
}

body {
    margin: 0;
}

.container {
    margin-top: 40px;
    padding: 0 24px;
    display: flex;
    gap: 40px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 86px;
}

.categories {
    width: 356px;
    height: 472px;
}

.sup-ukr {
    width: 356px;
    height: 490px;
}


@media (max-width: 1440px) {
    .container {
        flex-direction: column;
        gap: 100px;
    }

    .sidebar {
        flex-direction: row;
        gap: 32px;
    }

    .categories {
        width: 337px;
        height: 472px;
    }

    .sup-ukr {
        width: 335px;
        height: 472px;
    }
}

@media (max-width: 375px) {
    .container {
        gap: 40px;
    }

    .sidebar {
        flex-direction: column;
        gap: 40px;
    }

    .categories {
        width: 335px;
        height: 228px;
    }

    .sup-ukr {
        width: 335px;
        height: 352px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}