                /* Style for switcher */

.header-switcher {
  width: 40px;
  height: 24px;
  margin-right: 14px;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header-switcher {
    margin-right: 24px;
    }
}

.switcher-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 0;
  vertical-align: top;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
}

.switcher-button::after {
  content: '';
  background: #ffffff;
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transform: translateX(0);
}

.switcher-button:checked::after {
  transform: translateX(calc(16px));
  background-color: #dcdcdc;
}

.switcher-button:checked {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

                    /* Style for Header */

 .header-overlay {
  background-color: var(--header-background-color);
  border: 1.5px solid var(--header-border-color);
  border-radius: 0px 0px 8px 8px;
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 20px;

  }

  @media screen and (min-width:768px) {
 .header-overlay {
  padding: 14px 32px 13px 32px;
 }
}

@media screen and (min-width:1440px) {
  .header-overlay {
   padding: 14px 24px 13px 24px;
  }
 }

.header-logo-link {
  display: flex;
  align-items: center;
}

.header-logo-link {
  transition: transform 250ms ease;
}

.header-logo-link:hover {
  transform: scale(1.2);
}


@media screen and (min-width:768px) {
  .header-logo-link {
      margin-right: 40px;
      }
 }
 @media screen and (min-width: 1440px) { 
  .header-logo-link { 
      margin-right: 76px;
  }}

.header-logo  {
  margin-right: 8px;
  }

.header-logo-bookshelf
{
  fill: var(--header-logo-color);
}

.site-nav  {
  display: none;
}

@media screen and (min-width:768px) {
  .site-nav {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   gap: 16px;
  }
 }

 @media screen and (min-width:1440px) {
  .site-nav {
    gap: 24px;
  }
  }
 
 @media screen and (min-width:768px) {
.site-nav__item_active {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  align-items: center;
  color: #111;
  border-radius: 36px;
  transition: transform 250ms ease;
}}

@media screen and (min-width:768px) {
  .site-nav__item_active:hover {
    transform: scale(1.2);
  }}

@media screen and (min-width:768px) {
.current {
  background-color: var(--header-nav-hover);
}
}
@media screen and (min-width:768px) {
.site-nav__item {
  color: var(--text-color-main);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  transition: transform 250ms ease;
}}

@media screen and (min-width:768px) {
  .site-nav__item:hover {
    transform: scale(1.2);
  }}

@media screen and (min-width:768px) {
.site-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
}}


@media screen and (min-width:768px) {
.site-nav__logo {
  fill: var(--header-icons-color);

  }}


.sign-up-button {
  display: none;
}

@media screen and (min-width:768px) {
.sign-up-button {
  display: flex;
  border: none;
  width: 184px;
  height: 48px;
  background-color: #4F2EE8;
  color: #FFF;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  border-radius: 50px;
  justify-content: space-between; 
  align-items: center;
  padding-left:14px;
  padding-right:14px;
    }
}

@media screen and (min-width:768px) {
  .sign-up-button_icon{ 
    fill:#EAC645;
}}

.button-menu {
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  stroke: var(--header-icons-color);
}

@media screen and (min-width:768px) {
  .button-menu
  { 
    display: none;
}}

.button-menu:hover
.button-menu:focus {
  stroke: var(--header-icons-hover);
}
.button-menu span {
  position: absolute;
  width: 21px;
  height: 2px;
  border-radius: 4px;
  background: var(--header-icons-color);
  transition: 0.5s;
}

.button-menu span:nth-child(1) {
  transform: translateY(-7px);
  width: 15px;
  left: 4px;
}

.button-menu.active span:nth-child(1) {
  width: 21px;
  transform: translateY(0px) rotate(45deg);
}

.button-menu span:nth-child(2) {
  transform: translateY(7px);
  width: 10px;
  left: 4px;
}

.button-menu.active span:nth-child(2) {
  width: 21px;
  transform: translateY(0px) rotate(315deg);
}

.button-menu.active span:nth-child(3) {
  transform: translateX(30px);
}
              
