                /* Style for switcher */

.header-switcher {
  width: 40px;
  height: 24px;
  margin-right: 14px;
}

@media screen and (min-width: 768px) {
  .header-switcher {
    margin-right: 24px;
    margin-left: auto;
  }
}

.switcher-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 0;
  vertical-align: top;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
}

.switcher-button::after {
  content: '';
  background: #ffffff;
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transform: translateX(0);
}

.switcher-button:checked::after {
  transform: translateX(calc(16px));
  background-color: #dcdcdc;
}

.switcher-button:checked {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

                    /* Style for Header */

 .header-overlay {
  background-color: var(--header-background-color);
  border: 1.5px solid var(--header-border-color);
  border-radius: 0px 0px 8px 8px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
 /*  height: 64px; */
 padding-top: 20px;
 padding-bottom: 20px;
  }

  @media screen and (min-width:768px) {
 .header-overlay {
/*   height: 72px; */
  /* justify-content: space-between; */
  padding-top: 14px;
 padding-bottom: 14px;
 }
}

.site-nav  {
  display: none;
}

@media screen and (min-width:768px) {
  .site-nav {
   display: flex;

  }
 }



 @media screen and (min-width:1200px) {
  .site-nav {
   margin-right: auto;

  }
 }
 .header-logo  {
  margin-right: 8px;
}

.header-logo-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
  margin-right: 144px;
  margin-left: 20px;
   color: var(--header-logo-color);
}
@media screen and (min-width:768px) {
  .header-logo-link {
    margin-left: 32px;
    margin-right: 40px;
      }
 }
 @media screen and (min-width: 1440px) { 
  .header-logo-link { 
    margin-left: 24px;
    margin-right: 76px;
  }}


 @media screen and (min-width:768px) {
.site-nav__item {
  padding-left: 16px;

}
 }
 @media screen and (min-width:768px) {
.site-nav__item_active {
  border-radius: 36px;
  padding: 8px 16px; 
   font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #111;
}}

@media screen and (min-width:768px) {
.current {
  background-color: var(--header-nav-hover);
}
}

@media screen and (min-width:768px) {
.site-nav__link {
  font-family: inherit;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  color: var(--text-color-main);

}}
@media screen and (min-width:768px) {
.site-nav__logo {
  width: 20px;
  height: 20px;
  fill: var(--header-icons-color);
  margin-left: 4px;
  justify-content: center;
  align-items: center;
  }}
@media screen and (min-width:768px) {
.site-nav__logo_active {
  width: 20px;
  height: 20px;
  margin-left: 4px;
 
  
}}

.sign-up-button {
  display: none;
}
@media screen and (min-width:768px) {
.sign-up-button {
  display: flex;
  border: none;
  width: 184px;
  height: 48px;
  background-color: #4F2EE8;
  color: #FFF;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  border-radius: 50px;
  justify-content: space-between; 
  align-items: center;
  padding-left:14px;
  padding-right:14px;
  margin-right: 32px;
}
}



.burger-menu {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  stroke: var(--header-icons-color);
}


@media screen and (min-width:768px) {
.burger-menu {
  display: none;
}}
