/*$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
*/
body.modal-open {
  overflow: hidden;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.4);
}
.modal.open {
  display: flex;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.book-item {
  cursor: pointer;
}
.modal_container {
  overflow-x: auto;
  position: relative;
  margin: auto;
  max-width: 280px;
  max-height: 762px;
  border-radius: 18px;
  border: 2px solid #111;
  background: var(--button-color-background);
  padding: 40px 24px;
}
.book_img {
  max-width: 230px;
  max-height: 408px;
  border-radius: 8px;
}

.modal_book_img {
  margin-bottom: 14px;
}
.modal_name_book {
  color: var(--text-color-main);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}
.modal_name_author {
  color: var(--color-name-author);
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.48px;
  margin-bottom: 18px;
}
.modal_book_about {
  color: var(--text-color-main);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 14px;
}
.modal_window_bookShop {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  align-items: center;
}
.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-image: url(../assets/img/modal-window/x-close.svg);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;

}

.modal_btn_book_addShop {
  max-width: 211px;
  max-height: 46px;
  padding: 14px 24px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  color: var(--text-color-main);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  background-color: var(--button-color-background);
}
.modal_btn_book_addShop:hover {
  color: #fff;
  background: #4f2ee8;
}
.modal_btn_book_addShop:focus {
  color: #fff;
  background: #4f2ee8;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}
.modal_window_icon:hover {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #fff;
}
.modal_window_icon:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 375px) {
  .modal_container {
    max-width: 335px;
  }
  .modal_btn_book_addShop {
    margin-left: 38px;
  }
}
@media screen and (min-width: 764px) {
  .modal_container {
    max-width: 579px;
    max-height: 465px;
    padding: 40px 40px;
  }
  .modal_window_information {
    display: flex;
  }
  .book_img {
    max-width: 192px;
    max-height: 281px;
    margin-right: 24px;
  }
  .modal_book_img{
    margin-bottom: 40px;
  }
  .modal_name_book {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
  }
  .modal_name_author {
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 20px;
  }
  .modal_book_about {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
  }
  .modal_btn_book_addShop {
    max-width: 499px;
    max-height: 64px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
    padding: 20px 140px;
    margin-left: 0;
  }
}

@media screen and (min-width: var(--desktop-wide)) {
  .modal_container {
  }
}
