.support-ukraine {
  z-index: 0;
  padding: 24px 40px;
  list-style-type: none;
  height: 490px;
  gap: 40px;
  flex-direction: column;
  display: flex;
  width: 356px;
  max-width: 100%;
  border-radius: 16px;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  margin-top: 40px;
}
.head-title {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'DM Sans';
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.12px;
}
.icon-ua {
  fill: #fff;
}
.icon-down {
  fill: #4f2ee8;
}
.button-next {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin: 0 auto;
}

/* .swiper {
  height: 188px;
  margin: 40px 0;
} */
.swiper {
  height: 292px;
  overflow: hidden;
}

.swiper-slide {
  display: flex !important;
  height: auto !important;
  padding-bottom: 20px;
  margin: 0 !important;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.support-index {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.support-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  color: #ffffff;
  filter: brightness(0) invert(1);
}

.support-list {
  flex-direction: column;
}

.support-link {
  height: 32px;
  display: flex;
  align-items: center;
}
@media (max-width: var(--tablet)) {
  .support-ukraine {
    height: 472px;
  }
}

@media (max-width: var(--mobile)) {
  .support-ukraine {
    height: 352px;
  }
}
@media screen and (min-width: 720px) {
  .swiper {
    height: 292px;
  }
}
